<div class="text-center">
  <h1>Here are the restaurants</h1>

  <ul class="border-bottom">
    <% @restaurants.each do |restaurant| %>
      <li style="list-style-type: none"><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ul>

  <span><i class="fas fa-plus" style="margin:5px;"></i><%= link_to 'Add new restaurant', new_restaurant_path %></span>
</div>
