<div class="container">
  <h2>Enter new restaurant details</h2>

  <%= render @restaurant %>
  <br>
  <span class="btn btn-outline-secondary"><i class="far fa-hand-point-left" style="margin:5px;"></i><%= link_to 'Back to restaurants list', restaurants_path %></span>
</div>
